.product_item {
  align-items: center;
  background-color: white;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  gap: 1rem;
  height: 320px;
  justify-content: space-evenly;
  letter-spacing: 0.6px;
  margin: 4px;
  padding: 4px;
  text-align: center;
  width: 230px;
}

.product_item img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 8px;
  width: 100px;

}

.product_item:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  cursor: pointer;
}

.product_item span {
  font-weight: 200;
}
