*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #141414;
  text-decoration: inherit;
}

ol, ul {
  list-style: none;
}

body {
  background-color: #464646;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cart_spans {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.cart_spans span:nth-child(1) {
  font-size: smaller;
  font-weight: 100;
}